<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <p class="mb-0">
            &copy; {{getCurrentYear}} Mi Portafolio M6_AE4_ABP. Todos los derechos reservados.
            
            <a href="https://www.linkedin.com/in/irina-serey/" target="_blank" class="text-white ms-3 text-decoration-none" title="Mi perfil de LinkedIn">
                <i class="bi bi-linkedin fs-5"></i> 
            </a>
            </p>
    </div>
</footer>