<section class="projects-list">
    <h2 class="display-4 text-center mb-5 border-bottom pb-2">Todos mis Proyectos</h2>
    
    {{#each proyectos}}
        <article class="project-detail card mb-4 shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-primary">{{nombre}}</h3>
                <h6 class="card-subtitle mb-3 text-muted">
                    <i class="bi bi-tools me-1"></i> Tecnología Principal: **{{tecnologia}}**
                </h6>
                
                <p class="card-text">{{descripcion_larga}}</p>
                
                {{#if url}} 
                    <a href="{{url}}" class="btn btn-success mt-3" target="_blank">
                        <i class="bi bi-box-arrow-up-right"></i> Visitar Sitio Web
                    </a>
                {{/if}}
            </div>
        </article>
    {{/each}}
</section>